{% extends 'base.html' %}
	{% block content %}
		<div class="centerblock" style="padding-bottom: 10px;padding-top: 20px;">
		<div class="row justify-content-center">
			<h1>How to Use this Calculator</h1>
		</div>
		</div>
		<br><br>
		<div class="row justify-content-center">
		<div class="col-md-5">
			<div class="card">
			<div class="card-body">
				<h5 class="card-title">General Input Guidelines</h5>
				<p class="card-text">This calculator exclusively uses integers and fractions for the sake of accuracy. Entering decimal values will result in an error.<br>For fractions, entering the numerator, then a forward slash, then the denominator will suffice.<br>Parentheses can only be used as specified for the vector calculator.<br>Entering values with non-numerical symbols (with the exception of the proper use of the forward slash character) will result in an error.</p>
			</div>
			</div>
		</div>
		</div>

	{% endblock %}
