{% extends 'base.html' %}
	{% block content %}
		<h>Vector Calculator</h>
		<form id="vector" method="GET">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit" id="vector-submit">Enter</button>
		</form>
		
		<body>
			<p id="message">Hi</p>
		</body>
		
		<script type="text/javascript">
			// listens for "Enter" button
			document.getElementById("vector-submit").addEventListener("click", vectorInput);

			function vectorInput(e) {
				$(document).on('submit', '#vector', function(e){
					e.preventDefault();
					// sends a 'GET' request to validate the user's input
					$.ajax({
						type: 'GET',
						url: '/vector/validate/',
						data: {  
							'v1': document.getElementById('id_vector1').value,
							'v2': document.getElementById('id_vector2').value,
							'operation': document.getElementById('id_operation').value,
							csrfmiddlewaretoken: '{{ csrf_token }}'
						},
						dataType: 'json',
						success: function(data){
							handleValidationResult(data.is_valid, data.v1_comp, data.v2_comp, data.operation);

						}
					});
				});
						
			}
			
			/* 
			** passes data sent back by Django views.py to be handled 
			** is_valid: "0" or "1" to indicate if user should be prompted to re-enter their input]
			** v1_comp and v2_comp: "cleaned" version of user input (e.g. removing white space)
			*/
			function handleValidationResult(is_valid, v1, v2, operation) {
				// checks if user's input was deemed valid by validate() in Django views.py
				if (is_valid == "1") {
					alert("Valid Input");
					//send ajax request to vector() in views
				} else {
					alert("Invalid Input");
				}

			}
		</script>
	{% endblock %}


































	<!--
	<h1>Vector Calculator</h1>-->
	{% comment %}
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	{% endcomment %}
	<!--
	<p id="response_msg">Hello</p>
	<form id="dimension" method="GET">
		dimension: <input type="number" name="dimension" />
		<button type="submit">Enter</button>
	</form>
	-->
	{% comment %}
	<script type='text/javascript'> 
	</script>
	<form id="vector" method="get">{% csrf_token %}
			{#% csrf_token %#}
			<label for="vector">Vector:</label>
			<input type="text" id="vector" name="vector"><br><br>
			<input type="submit" value="Enter">
	</form>{% endcomment %}
<!--
<script type="text/javasript">
		var is_valid = {{ is_valid }};
		if (is_valid == 0) {
			alert("Invalid Input");
		}
</script>-->
	{% comment %}
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

	<script type="text/javascript">
		$(document).on('submit', '#vector', function(e){
			e.preventDefault();

			$.ajax({
				type:'GET',
				url:'/vector/',
				data:{
					vector:$('#vector').val(),
					csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
				},
				success:function(){
				//		if (!vector.valid_input) {
				//			alert("Invalid input");
				//		}
				}
			});
		});
	</script>


	{% comment %}
		<form action="" method="get">
			{% csrf_token %}
			{{ form }}
			{{ operation.label|linebreaks }}
			<input type="submit" value="Submit" />	
		</form>
	{#% comment %#}
		{#% endblock %#}

		{% if messages %}
		<ul class="messages">
		{% for message in messages %}
		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		{% endfor %}
		</ul>
		{% endif %}  
	
	{% endcomment %}


	


 


